# node_modules
/backend/node_modules
/frontend/node_modules

# local envs (do not commit)
backend/.env
frontend/.env

https://madhav-pasovit-project-4.onrender.com/

https://cloud.mongodb.com/v2/692c51e57d994052dde68069#/security/database/users